html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #3498db;
}

body {
  font-family: "Roboto";
  background-color: #000;
  color: #fff;
}

.loading-screen{
  min-height: 500px;
  height: 95vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

}

.app-wrapper {
  background-image: url("./assets/bg.jpg");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.13;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1 !important;
}

.app-container{
min-height: 1000px;
padding: 50px;

}

.heading-one {
  color: #fff;
  margin: 0px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  font-family: "Roboto";
}

.heading-two {
  color: #fff;
  margin: 0px;
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  font-family: "Roboto";
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  padding: 2px;
}

.titile {
  color: #fff;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
}

.title-large {
  margin: 0px;
  font-size: 26px;
  font-weight: 400;
  font-family: "Roboto";
}
.caption {
  color: #fff;
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto";
}

.country-data-item {
  background-color: #2980b9;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.world-data-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 15px;
}

.input-box{
  width: 80vw;
  height: 60px;
  margin-top: 25px;
  background-color: transparent;
  border: none;
  color: #c1c1c1;

  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  font-family: "Roboto";
  /* padding-left: 15px; */
}

input:focus {
  outline: none !important;
}

.footer{
  height: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
 
.footer-text
{
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Roboto";
}

.text-hide{
  display: none
}


@media only screen and (max-width: 900px) {
  
.app-container{
  padding: 30px;
  }

  .heading-wrapper {
    display: none;
  }

  .text-hide{
    display: block
  }

  .heading-one {
    font-size: 25px;
    line-height: 25px;
    font-weight: 900;
  }
  .heading-two {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .input-box{
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    font-family: "Roboto";
    /* padding-left: 15px; */
  margin-top: 0px;

  }


  
.titile {
  font-size: 13px;
  font-weight: 500;
}

.caption {
  font-size: 9px;
  font-weight: 500;
  font-family: "Roboto";
}


.world-data-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0px;
  padding-top: 20px;
}


.title-large {
  font-size: 20px;
}

}
